@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gaming Portal</h1>
    <p class="lead">Demonstrating the complete automation of Continuos Integration and Deplpoyment using VSTS.</p>
    <p>Docker technology has been used to containerize the application. </p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Docker</h2>
        <p>
            Docker is a computer program that performs operating-system-level virtualization also known as containerization. 
            It was first released in 2013 and is developed by Docker, Inc. 
            Docker is used to run software packages called "containers"
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Visual Studio Team Service</h2>
        <p>Visual Studio Team Services (VSTS) is an extension of the Microsoft Visual Studio architecture that allows it to encompass development teams, with special roles and tools for software architects, developer specialties and testers.</p>
    </div>
    <div class="col-md-4">
        <h2>Kubernetes</h2>
        <p>Kubernetes is an open-source container-orchestration system for automating deployment, scaling and management of containerized applications. It was originally designed by Google and is now maintained by the Cloud Native Computing Foundation</p>
 
    </div>
</div>